<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>Url Shortener Microservice</title>

</head>

<body class="container">

<h1>Url Shortener Microservice</h1>
<p class="text-center ">
<%= host %>/ <a class="btn btn-success btn-lg" href="/<%= response.targetUrl %>"><%= response.targetUrl %></a><br><br>
<a class="btn btn-primary btn-lg">Original URL: <%= response.sourceUrl %></a>
</p>
</body>
</html>
